<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Our Restaurant</title>
{{> styles}}
</head>
<body>
  <div class="container">
    <h1>Welcome to Our Restaurant, {{username}}!</h1>
    <div class="image-container">
        <img src="https://i.pinimg.com/236x/17/ff/8d/17ff8d4aa9f83d368dd7602986b84826.jpg" alt="Image 1">
        <img src="https://i.pinimg.com/236x/0c/23/f9/0c23f9701b7031d358fabee71024a939.jpg" alt="Image 2">
        <img src="https://i.pinimg.com/236x/1c/a5/bf/1ca5bf29c6fe7796212f7023b2b4dde4.jpg" alt="Image 3">
    </div>
    <p>
      Thank you for registering with us! We're thrilled to have you join our community of food enthusiasts.
      At our restaurant, we are dedicated to providing you with the best dining experience possible. From
      delicious meals prepared with the freshest ingredients to excellent customer service, we aim to make
      every visit memorable.
    </p>
    <p>
      As a registered member, you will receive updates on our latest menu items, special offers, and exclusive
      events. We hope you enjoy all the benefits that come with being a part of our family.
    </p>
    <p>
      We have a variety of dishes that cater to all tastes and preferences.
      <!-- To get started, why not check out our <a href="https://yourrestaurantwebsite.com/menu" class="button">Menu</a>? -->
    </p>

    <p>
      We look forward to serving you soon!
    </p>
    <p>
      Best regards,<br>
      The Restaurant Team
    </p>
    <div class="footer">
      <p>
        If you did not register for this account, please ignore this email or contact our support team.
      </p>
    </div>
  </div>
</body>
</html>
